<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Education</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Education</h1>
        <p style="color: red;">BANGLORE INSTITUTE OF TECHNOLOGY </p>
         <p>Banglore karnataka DEC 2021 - PRESENT</p>   
           <p>Pursuing Bachelor's in Elctrical and Electronics Enginnering</p>
            <p>CGPA - 7.4</p>
    </div>
</body>
</html>