<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professional Skills</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Professional Skils</h1>
        <p style="color: red;">Language</p>
         <ul>
            <li>Python</li>
            <li>C++</li>
            <li>HTML</li>
         </ul>
        <p style="color: blue;">SOFTWARE APPLICATION</p>
         <ul>
             <li>MS Office</li>
             <li>Matlab</li>
             <li>AutoCAD</li>  
         </ul>
        <p style="color: gold;">Tools </p>
            <ul>
                <li>Git</li>
                <li>GitHub</li>
                <li>Visual studio Code</li>
            </ul>    
    </div>
</body>
</html>